/* style.css
---------
write by Ben.R */
*
{
    font-family: "Trebuchet MS", Verdana, Impact, "Arial Black", Arial, sans-serif;
}

/* Principals page elements */

body
{
   background-color: rgba(243, 235, 235, 0.8); /* background: url('images/binary.jpg');                                  /* or : #5695d4;  */
   /* color: #181818; */
   background-repeat: no-repeat;
   background-position: top;                                               /* image start position */
   position: absolute;
   width: 99%;
   height: 100%;
}

#main_wrapper
{
   width: 100%;
   margin: auto;
}

section, footer, nav
{
   font-family: Dayrom, serif;
   font-weight: normal;
   text-transform: lowercase;                    /* or : uppercase; for majusculs */
}

/* Header */

header
{
   background: url('images/banheader.jpg') repeat-x bottom;                        /* or :  rgb(213, 226, 228); */
   /* display: flex; */
   justify-content: space-between;
   align-items: flex-end;
   color: #221b1c;
   border-bottom: 1px solid #221b1c;
   width: 100%;
   box-shadow: 1px 2px 2px black;
   clear: both;
}

.titre
{
   /* display: right; */
   /* flex-direction: column; */
   color: rgb(69, 54, 122);
   font-size: x-large;
   font-weight: oblique;
   font-weight: bold;
   text-align: center;
   margin-top: 80px;
   text-shadow: 1px 1px 1px black;
   clear: both;
   width: 15%;
   align-items: right;
   /* border: 1px black outset; */
}

.titre:hover                                    /* links flyover aparance */
{
   text-decoration: underline;
   color: orange; 
}

.button
{
   color: rgb(69, 54, 122);
   font-size: x-large;
   font-weight: oblique;
   font-weight: bold;
   text-align: center;
   height: 25px;
   position: absolute;
   right: 5px;
   bottom: 5px;
   border: 1px solid #2b2c55;
   border-radius: 5px;
   font-size: 1.2em;
   text-align: center;
   padding: 3px 8px 0px 8px;
   /* color: white; */
   text-decoration: none;
}

#banner_description
{
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    width: 90%;
    height: 25px;
    padding-top: 15px;
    padding-left: 5px;
    background-color: rgba(196, 182, 182, 0.8);
    /* color: white; */
    font-size: 0.8em;
    }

 em
{
   font-size: x-large;
   font-weight: oblique;
   font-weight: bold;
   color: rgb(69, 54, 122);
   text-align: left;
   margin-top: -60px;
   text-shadow: 1px 1px 1px black;
   clear: both;
   width: 100%;
}

#logo
{
   display: flex;
   /* flex-direction: comlumn; */
   align-items: center;
}

#logo img
{
   width: 150px;
   height: 150px;
}

mark
{
                                    
   background-color: #F0F2F4;                  /* backgroud color take step on all the page*/ 
}

.float1
{
   float: right;
   margin: auto;
   border: 1px black outset;
}

div
{
   font-size: large;
   font-weight: oblique;
   font-weight: bold;
   text-align: left;
}

p
{
   font-weight: oblique;
   border: 1px solid black;
   box-shadow: 1px 1px 1px black inset;
   text-align: center;
   width: 600px;
   height: 400px;
   margin: auto;
   padding: 10px;
   word-wrap: break-word;
   
}

element
{
   font-weight: oblique;
   border: 1px solid black;
   box-shadow: 1px 1px 1px black inset;
   text-align: center;
   width: 600px;
   height: 110px;
   margin-left: 270px;
   /* margin: auto;*/
   padding: 10px;
   word-wrap: break-word;
}

nav
{
   position: fixed;
   float: left;
   width: 220px;
   font-weight: oblique;
   text-align: left;
   background-color: rgba(243, 235, 235, 0.8);
   border: 1px solid black;
   box-shadow: 1px 1px 1px black inset;
   height: 300px;
   margin: left;
   padding: 10px;                            /* marging interior 12px */
}

aside
{
   float: right;
   font-weight: oblique;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.8);
   border: 1px solid rgb(8, 245, 8);
   box-shadow: 1px 1px 1px rgb(182, 13, 13) inset;
   width: 300px;
   height: 500px;
   margin: left;
   padding: 0px;                            /* marging interior 12px */
}

aside1
{
   float: right;
   font-weight: oblique;
   text-align: left;
   background-color: rgba(255, 255, 255, 0.8);
   border: 1px solid rgb(8, 245, 8);
   box-shadow: 1px 1px 1px rgb(182, 13, 13) inset;
   width: 300px;
   height: 500px;
   margin: left;
   padding: 0px;                            /* marging interior 12px */
}

.float2
{
   float: center;
}

/* strong
{
   color :brown;
   font-style: italic;
   text-align: center;
   text-shadow: 1px 1px 1px black;
   clear: both;
}*/

h5
{
   font-weight: oblique;
   text-align: center;
   clear: both;
}

ul
{
   color: brown;
   font-style: italic;
   text-align: left;
}

h6
{
   color: green;
   font-style: oblique;
   text-decoration: blink;
   text-align: center;
   font-size: x-large;
   margin: auto;
   padding: 10px;
}
   
h6:hover                                     /* links flyover aparance */
{
   text-decoration: underline;
   color: orange;
}
   
.repeat, footer
{
   color: rgb(61, 78, 60);
   font-size: large;
   text-align: center;
}
