/* style.css
---------
write by Ben.R */
*
{
    font-family: "Trebuchet MS", Verdana, Impact, "Arial Black", Arial, sans-serif;
}

body
{
    background-color: #F0F2F4;
}

/*topsection
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    height: 1000px;    
   } */

mark
{
                                    
    background-color: #F0F2F4;      /* backgroud color take step on all the page*/ 
}

.float1
{
    float: right;
    margin: auto;
    border: 1px black outset;
}

.float2
{
    float: right;
}

div
{
   font-size: large;
   font-weight: oblique;
   font-weight: bold;
   text-align: right;
}

.titre
{
   color: brown;
   font-size: x-large;
   font-weight: oblique;
   font-weight: bold;
   text-align: right;
   width: 100%;
}

.titre:hover                           /* links flyover aparance */
{
   text-decoration: underline;
   color: orange;
}

p
{
   font-weight: oblique;
   border: 1px solid black;
   box-shadow: 1px 1px 1px black inset;
   text-align: center;
   width: 600px;
   height: 400px;
   margin: auto;
   padding: 10px;
   word-wrap: break-word;
   
}

element
{
   font-weight: oblique;
   border: 1px solid black;
   box-shadow: 1px 1px 1px black inset;
   text-align: center;
   width: 600px;
   height: 110px;
   margin-left: 270px;
   /* margin: auto;*/
   padding: 10px;
   word-wrap: break-word;
}

nav
{
   position: fixed;
   float: left;
   width: 220px;
   font-weight: oblique;
   border: 1px solid black;
   text-align: left;
   box-shadow: 1px 1px 1px black inset;
   height: 300px;
   margin: left;
   padding: 10px;                            /* marging interior 12px */
}

aside
{
   float: right;
   font-weight: oblique;
   border: 1px solid rgb(8, 245, 8);
   text-align: center;
   box-shadow: 1px 1px 1px rgb(182, 13, 13) inset;
   width: 300px;
   height: 300px;
   /*margin: right;*/
   padding: 10px;                            /* marging interior 12px */
}


strong
{
   color :brown;
   font-style: italic;
   text-align: center;
   text-shadow: 1px 1px 1px black;
   clear: both;
}

h5
{
   font-weight: oblique;
   text-align: center;
   clear: both;
}

ul, h2
{
   color: brown;
   font-style: italic;
   text-align: left;
}

h6
{
   color: green;
   font-style: oblique;
   text-decoration: blink;
   text-align: center;
   font-size: x-large;
   margin: auto;
   padding: 10px;
}
   
h6:hover                                     /* links flyover aparance */
{
   text-decoration: underline;
   color: orange;
}
   
.repeat, footer
{
   color: rgb(40,227,27);
   font-size: large;
   text-align: right;
}
