/* style.css
---------
write by tipio */

/* Element table => dénormalisation : repeat the things / normalisation : keep the system more easy-DRY : 
don't repeat yourself => attention whit that! */

/* Principals page elements */
*
{
    font-family: "Trebuchet MS", Verdana, Impact, "Arial Black", Arial, sans-serif;
}

#main_wrapper
{
   width: 100%;
   margin: auto;
}

body
{
   background: url('images/blueandblackwallpapers.jpg');                   /*or : background-color: rgba(243, 235, 235, 0.8);*/
   /* background-color: rgba(36, 33, 33, 0.8); */
   background-size: cover;
   /* color: #181818; */
   background-repeat: no-repeat;
   background-position: top;                                     /* image start position */
   position: absolute;
   width: 99%;
   height: 100%;
}

.whiteBG
{
   /* background: rgba(243, 235, 235, 0.8);                       or : background-color: url('images/blocknetwork.jpg'); */
   background: url('images/blueandblackwallpapers.jpg');
   /* background-size: cover;
   /* color: #181818;
   background-repeat: no-repeat;
   background-position: top;*/                                   /* image start position */
   /* position: absolute; 
   width: 99%;
   height: 100%; */
}

/* Header */
header
{
   /* background: rgba(240, 241, 241, 0.85);                      or : url('images/banner.jpg') repeat-x bottom;  */
   justify-content: space-between;
   align-items: flex-end;
   color: #221b1c;
   border-bottom: 1px solid #221b1c;
   width: 100%;
   box-shadow: 1px 2px 2px black;
   clear: both;
}

.titre
{
   /* display: right;
   flex-direction: column;
   border: 1px black outset; */
   color :rgb(8, 191, 247);
   /* color: rgb(69, 54, 122); */
   font-size: x-large;
   font-weight: oblique;
   font-weight: bold;
   text-align: center;
   margin-top: 80px;
   text-shadow: 1px 1px 1px black;
   clear: both;
   width: 15%;
   align-items: right;
                                                                  /* text-transform: lowercase; or : uppercase; for majusculs */
}

.titre:hover                                                      /* links flyover aparance */
{
   text-decoration: underline;
   color: orange; 
}

 em
{
   color :rgb(8, 191, 247);
   font-style: italic;
   text-align: left;
   text-shadow: 1px 1px 1px black;
   clear: both;
   font-size: x-large;
   font-weight: oblique;
   font-weight: bold;
   /* color: rgb(255, 153, 0);                                       rgb(69, 54, 122); */
   margin-top: -60px;
   text-shadow: 1px 1px 1px black;
   clear: both;
   width: 100%;
}

#logo
{
   display: flex;
   /* flex-direction: comlumn; */
   align-items: center;
}

#logo img
{
   width: 150px;
   height: 150px;
}

/* section */
nav
{
   position: fixed;
   float: left;
   width: 220px;
   font-weight: oblique;
   text-align: left;
   text-shadow: 0.5px 0.5px 0.5px black;
   /* background-color: rgba(243, 235, 235, 0.8);
   border: 1px solid black;
   box-shadow: 1px 1px 1px black inset; */
   height: 300px;
   margin: left;  
   padding: 10px;                                                /* marging interior 12px */
}

aside
{
   background: url('images/blackwallpapers.jpg') repeat-x top ;            /* or : rgba(240, 241, 241, 0.85); */
   justify-content: space-between;
   align-items: flex-end;
   color: #221b1c;
   border-bottom: 1px solid #221b1c;
   width: 100%;
   box-shadow: 1px 2px 2px black;
   clear: both;
   float: right;
   font-weight: oblique;
   text-align: center; 
   /* background-color: rgba(255, 255, 255, 0.8); 
   border: 1px solid rgb(8, 245, 8);
   box-shadow: 1px 1px 1px rgb(182, 13, 13) inset;
   display: flex;  */
   width: 250px;
   height: 500px;
   border-radius: 5px;
   margin-right: 30px;
   padding: 0px;                                                 /* marging interior 12px */
}

.navElement
{
   width: 1000px;                                             
   height: 30px;
   color :rgb(8, 191, 247);
   font-weight: oblique;
   font-size: small;
   text-align: right;
   /* margin: right; */
   /* padding: 10px; */                                           /* marging interior 12px */
   /* padding-bottom: 10px; */
   list-style-type: none;
   display: flex;                                                 /* search to align "nav.Element's block" on one line */
   position: absolute;                                            /* don't want "nav.Element's block" moove with the navigation in the page */
   left: 250px;
   top: 100px;
   /* border: 1px solid black;
   float: left;
   text-shadow: 0.5px 0.5px 0.5px black;
   background-color: rgba(243, 235, 235, 0.8);
   box-shadow: 1px 1px 1px black inset;
   margin-left: auto; */
}

.navElement>div
{
   margin: 8px;;
}

div
{
   font-size: large;
   font-weight: oblique;
   font-weight: bold;
   text-align: left;
}

p
{
   /* background-color: #d3d3d3; */
   font-weight: oblique;
   border: 1px solid black;
   /* box-shadow: 1px 1px 1px black inset; */
   text-align: center;
   /* width: 700px; */
   height: 350px;
   width: 60%;
   margin: auto;
   padding: 10px;
   word-wrap: break-word;  
}

.cv
{
   background-color: rgba(255, 255, 255, 0.75);;
   font-weight: oblique;
   /* border: 1px solid black; */
   box-shadow: 1px 1px 6px black inset;
   text-align: center;
   width: 1000px;
   height: 350px;
   margin-left: 40px;
   padding: 2px;
   border-radius: 20%;
}

strong
{
   color :rgb(8, 191, 247);
   font-style: italic;
   text-align: center;
   text-shadow: 1px 1px 1px black;
   clear: both;
}

strong:hover
{
      text-decoration: underline;
      color: rgb(10, 91, 184);
}

.guesses, .lastResult, .lowOrHi
{
   /* background-color: #d3d3d3; */
   font-weight: oblique;
   /* border: 1px solid black; */
   box-shadow: 1px 1px 1px black inset;
   text-align: center;
   /* width: 700px; */
   height: 8px;
   width: 60%;
   margin: auto;
   padding: 10px;
   word-wrap: break-word;  
}

.game
{
   background-color: rgba(255, 255, 255, 0.75);;
   font-weight: oblique;
   /* border: 1px solid black; */
   box-shadow: 1px 1px 6px black inset;
   text-align: center;
   width: 1000px;
   height: 350px;
   margin: auto;
   padding: 2px;
   border-radius: 20%;
}


h5                                                               /* game title */
{
   color: rgb(8, 191, 247);
   font-style: oblique;
   text-decoration: blink;
   text-align: center;
   font-size: x-large;
   margin: 0%;
   /* padding: 5px;*/
}
   
h5:hover                                                         /* links flyover aparance */
{
   text-decoration: underline;
   color: rgb(10, 91, 184);
}

.scrollingTitle                                                  /* js titles */
{
   background-color: rgba(112, 112, 112, 0.2);
   width: 520px;
   height: 30px;
   border-radius: 25px;
   margin: auto;
   box-shadow: 1px 1px 4px rgb(0, 0, 0) inset;
   /* border: black;   
   /* position: absolute;                         
   left: 10%;
   top: 200px; */
}

.formScrolling
{
   margin: 8px;
   margin-top: 2px;
   border-radius: 15px;
   box-shadow: 1px 1px 1px rgb(0, 0, 0) inset;
   text-align: center;
   font-size: large;
   font-style: oblique;
   color: rgb(10, 91, 184);
}

.scrollingTitleGame                                              /* js titles */
{
   background-color: rgba(112, 112, 112, 0.2);
   width: 195px;
   height: 30px;
   border-radius: 25px;
   margin: auto;
   box-shadow: 1px 1px 4px rgb(0, 0, 0) inset;
}

.gameScrolling
{
   margin: 6px;
   margin-top: 2px;
   border-radius: 15px;
   box-shadow: 1px 1px 1px rgb(0, 0, 0) inset;
   text-align: center;
   font-size: large;
   font-style: oblique;
   color: rgb(10, 91, 184);
}

.qbat
{
   background-color: rgba(255, 255, 255, 0.85);
   font-weight: oblique;
   border: 1px solid black;
   border-radius: 20px;
   box-shadow: 1px 1px 6px black inset;
   border-radius: 25%;
   text-align: auto;
   /* width: 700px; */
   height: 450px;
   width: 72%;
   margin-left: 40px;
   padding: 10px;
   word-wrap: break-word;   
}

.floatQbat
{
   float: right;
   /* margin: auto; */
   border: 1px black outset;
   border-radius: 5%;
   margin-top: 80px;
   margin-right: 25px;
}

.qbatTittle                                                       /* why does not work for center ?*/
{
   color :brown;
   font-style: italic;
   text-align: left;
   text-shadow: 1px 1px 1px black;
   clear: both;
}

ul
{
   color: rgb(255, 153, 0);                                                /*rgb(62, 63, 104);*/
   font-style: italic;
   text-align: left;
   text-shadow: 0.5px 0.5px 0.5px black;
}

.buttonOne
{
   font-size: large;
   font-weight: oblique;
   font-weight: bold;
   text-decoration: none;
   color :rgb(8, 191, 247);
   /* color: rgb(69, 54, 122); */
   text-shadow: 1px 1px 1px black;
   position: absolute;
   right: 20px;
   bottom: 120px;
   /* margin: auto; 
   /* text-align: right;
   /* height: 5px;
   /* border: 1px solid #2b2c55;
   /* border-radius: 5px;
   /* font-size: 1.2em;
   /* padding: 10px 10px 10px 10px; 
   /* color: white; 
   /* text-align: right;
   /* margin-top: 80px;
   /* clear: right; 
   /* width: 15%; 
   /* align-items: right; */
}

h5
{
   font-weight: oblique;
   text-align: center;
   clear: both;
}

.LastSessions
{
   margin: auto;
   margin-left: 80px;
   font-family: sans-serif;
   text-align: center;
   background-color: rgba(99, 97, 97, 0.6);
   border-collapse: separate;                                        /* or : collapse */
   border-radius: 15px;
   border: 1px solid black;
   width: 85%;
}

/* elementTable */
.ElementTable
{
   margin: auto;
   margin-left: 25px;
   font-family: sans-serif;
   text-align: center;
   /* background-color: rgba(99, 97, 97, 0.6); */
   border-collapse: separate;                                 
   border-radius: 15px;
   border: 1px solid black;
   width: 95%;
}

td, th                                                               /* Make a border on the td and the th */
{
   opacity: 0.8;
   border: 1px solid rgb(247, 243, 243);
   width: 40px;
   height: 40px;
   max-width: 40px;
   max-height: 40px;
}

tr:hover td
{
   opacity: 0.5;
}

td:hover 
{
   opacity: 1 !important;  
}

.symbol>div {
   /* border: 1px solid rgb(0, 0, 0); */
   text-align: center;
   padding-right: 0.5px;
   padding-left: 0.5px;
}

.element_name
{
   font-size: xx-small;
}

.atomic_number
{
   font-size: xx-small;
}

.chemical_symbol
{
   font-size: large;
}

td:hover .chemical_symbol 
{
   text-decoration: underline;
   color: rgb(0, 0, 0);
}

.atomic_mass
{
   font-size: xx-small;
}

.primordial
{
   border: 1px;
   border-style: solid;
}

.Synthetic_element
{
   border: 1px;
   border-style: dotted;
}

.Radioactivity 
{
   border: 1px;
   border-style: dashed;
}

.other_non_metals
{
   background-color:#98fb98;
}

.alkaline
{
   background-color:#ff6666;
}

.alkaline_earth
{
   background-color:#ffdead
}

.lanthanides
{
   background-color:rgb(255, 191, 255);
}

.actinides
{
   background-color:rgb(255, 153, 204);
}

.transition_metals
{
   background-color:#ffb6c1;
}

.poor_metals
{
   background-color:#d3d3d3;
}

.metalloids
{
   background-color:#cccc99;
}

.halogen
{
   background-color:#ffff99;
}

.noble_gases
{
   background-color:#afeeee;
}

.unclassified_items
{
   background-color:rgb(245, 245, 245);
}

.gaz
{
   color:rgb(255, 0, 0);
   border-color: rgb(0, 0, 0);
}

.liquide
{
   color:rgb(4, 0, 255);
   border-color: rgb(0, 0, 0);
}

.atomic_mass
{
   color:black;
}


                                                                     /* 
                                                                     red : alkaline
                                                                     beige : alkaline_earth
                                                                     light pink : lanthanides
                                                                     dark pink : actinides
                                                                     Salmon : transition_metals
                                                                     grey : poor_metals
                                                                     khaki : metalloids
                                                                     green : other_non_metals
                                                                     yellow : halogen
                                                                     blue : noble_gases
                                                                     light grey/white : unclassified_items
                                                                     */

form                                  
{
   width: 35%;
   height: 450px;
   margin: auto;
   border: 1px solid black;
}

#send                                 
{
   margin: 30px;
   border: 1px solid black;
}

Footer
footer
{
   background: rgba(254, 255, 255, 0.85);                            /* or : url('images/banner.jpg') repeat-x bottom; */
   /* display: flex; */
   /* justify-content: space-between;
   align-items: flex-end;
   color: #221b1c;
   /* border-bottom: 1px solid #221b1c; */
   opacity: 0,2;
   border-top: 1px solid #221b1c;
   width: 100%;
   height: auto;
   border-radius: 5px;
   box-shadow: 1px 2px 2px black;
   /* clear: none; */
}

h6
{
   color: green;
   font-style: oblique;
   text-decoration: blink;
   text-align: center;
   font-size: x-large;
   margin: left;
   padding: 10px;
}
   
h6:hover                                                                   /* links flyover aparance */
{
   text-decoration: underline;
   color: orange;
}

#infinity
{
   font-size: large;
   font-weight: oblique;
   font-weight: bold;
   text-decoration: none;
   color :rgb(8, 191, 247);
   /* color: rgb(69, 54, 122); */
   text-shadow: 1px 1px 1px black;
   margin-left: auto;
   /* position: absolute; */
   /* left: 1px; */
   /* bottom: -500px; */
   /* margin: auto; */
   /* text-align: right; */
   /* height: 5px;
   /* border: 1px solid #2b2c55;
   /* border-radius: 5px;
   /* font-size: 1.2em;
   /* padding: 10px 10px 10px 10px; 
   /* color: white; 
   /* text-align: right;
   /* margin-top: 80px;
   /* clear: right; 
   /* width: 15%; 
   /* align-items: right; */
}

#home
{
   font-size: large;
   font-weight: oblique;
   font-weight: bold;
   text-decoration: none;
   color :rgb(8, 191, 247);
   /* color: rgb(69, 54, 122); */
   /* text-shadow: 1px 1px 1px black; */
   position: absolute;
   right: 1px;
   margin-right: auto;
   /* bottom: -500px; */
   /* margin: auto; 
   /* text-align: right;
   /* height: 5px;
   /* border: 1px solid #2b2c55;
   /* border-radius: 5px;
   /* font-size: 1.2em;
   /* padding: 10px 10px 10px 10px; 
   /* color: white; 
   /* text-align: right;
   /* margin-top: 80px;
   /* clear: right; 
   /* width: 15%; 
   /* align-items: right; */
}

#mail
{
   font-size: large;
   font-weight: oblique;
   font-weight: bold;
   text-decoration: none;
   color: rgb(69, 54, 122);
   text-shadow: 1px 1px 1px black;
   position: absolute;
   right: 1px;
   margin-right: auto;
   /* bottom: -500px; */
   /* margin: auto; 
   /* text-align: right;
   /* height: 5px;
   /* border: 1px solid #2b2c55;
   /* border-radius: 5px;
   /* font-size: 1.2em;
   /* padding: 10px 10px 10px 10px; 
   /* color: white; 
   /* text-align: right;
   /* margin-top: 80px;
   /* clear: right; 
   /* width: 15%; 
   /* align-items: right; */
}


/* alternatif code

table
{
   margin: auto;
   margin-left: 300px;
   font-family: sans-serif;
   text-align: center;
   /* background-color: rgba(99, 97, 97, 0.6); 
   border-collapse: separate;             /* or : collapse 
   border-radius: 15px;
   border: 1px solid black;
   width: 75%;
}

 .game
{
   margin: auto;
   margin-left: 25px;
   font-family: sans-serif;
   text-align: center;
   background-color: rgba(99, 97, 97, 0.6);
   border-collapse: separate;   
   border-radius: 15px;
   border: 1px solid black;
   width: 95%; 
}

tr
{
   border: black;
}

#banner_button
{
   position: absolute;
   bottom: 0;
   border-radius: 5px;
   width: 20%;
   height: 25px;
   padding-top: 15px;
   padding-left: 5px;
   background-color: rgba(196, 182, 182, 0.8);
   /* color: white; 
   font-size: 0.8em;
}

mark
{                                 
   background-color: #F0F2F4;
}

.floatQbat
{
   float: right;
   margin: auto;
   border: 1px black outset;
} 

.float2
{
   float: center;
}

element
{
   font-weight: oblique;
   border: 1px solid black;
   box-shadow: 1px 1px 1px black inset;
   text-align: center;
   width: 600px;
   height: 110px;
   margin-left: 270px;
   margin: auto;
   padding: 10px;
   word-wrap: break-word;
} 

.repeat
{
   color: rgb(61, 78, 60);
   font-size: large;
   text-align: center;
} 
*/